/* Master styles */
html{
    height: 100%;
    width: 100%;
}
body {
    font-family: "Lato", sans-serif !important;
    margin: 0px;
    height: 100%;
}

.container {
    height: 100%;
}
/*Nav styles*/
.nav-wrapper {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 38px;
    position: relative;
    top: 0;
    z-index: 99;
    background-color: white;
    
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper:hover a {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black;
}

/*Nav sub_menu styles*/
.sub_menu{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    transform: translateY(-3em);
    z-index: -1;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    border-radius: 15px;
    margin-top: -38px;
    margin-left: -15px;
}

.nav-link-wrapper:hover .sub_menu{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
    background-color: white;
}

.nav-link-wrapper > .sub_menu a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper > .sub_menu a:hover{
    color: black;
}

.sub_menu ul{
    list-style: none;
    padding-right: 15px;
}

.sub_menu li{
    padding-top: 15px;
}

/*Portfolio styles - chapters*/
.portfolio-items-wrapper-chap_2 {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
}

.portfolio-items-wrapper-chap_2 a {
    height: 100%;
}

.portfolio-items-wrapper-chap_3 {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.portfolio-items-wrapper-chap_3 a {
    height: 100%;
}

.portfolio-img-background-chap {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper-chap {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 47.3%;
    text-align: center;
    padding-left: 26.35%;
    padding-right: 26.35%;
    
}

.img-text-wrapper-chap .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper-chap:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}


/*Portfolio styles*/
.content-wrapper {
    position: absolute;
    top: 99px;
    bottom: 0;
    left: 0;
    right: 0;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.portfolio-item-wrapper {
    position: relative;
    height: 100%;
}

.portfolio-img-background {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 21.12%;
    text-align: center;
    padding-left: 39.45%;
    padding-right: 39.45%;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* About page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}
.profile-content-wrapper a {
    text-decoration: none;
    text-decoration-color: black;
}
.profile-content-wrapper a:hover {
    border-bottom: 1px solid black;
}

/* Source page */
.two-column-wrapper_sources {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sources_2 {
    padding: 30px;
    padding-top: 0;
    border-right: 1px solid black;
}
.sources_3 {
    padding: 30px;
    padding-top: 0;
    border-left: 1px solid black;
}
.two-column-wrapper_sources h2 {
    color: lightseagreen;
}